<header>
	<div class='nav_menu'>
		<p>Charlie's Site</p>
		<ul>
		  <li><a href="default.asp">Home</a></li>
		  <li><a href="news.asp">News</a></li>
		  <li><a href="contact.asp">Contact</a></li>
		  <li><a href="about.asp">About</a></li>
		</ul>
	</div>
</header>
<body>
	<p>Hello world! I make rails websites</p>
	<p>View my work here</p>
</body>	

<footer>
	<p>Here are linkg to my other sites</p>
</footer>